<div layout="column" ng-cloak>
  <md-content layout-padding>
    <form ng-submit="impraying.createPrayer()">
      <md-input-container>
        <label>New request</label>
        <input ng-model="impraying.request">
      </md-input-container>
      <md-input-container>
        <md-button md-no-ink class="md-primary" ng-show="impraying.request">Create request</md-button>
      </md-input-container>
    </form>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="prayer in impraying.prayers | orderBy:'-timestamp'">
        <img ng-src="http://graph.facebook.com/{{prayer.author}}/picture" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>{{ prayer.author }} (<span am-time-ago="prayer.timestamp"></span>)</h3>
          <p>{{ prayer.content }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
