<head>
  <title>I'm Praying</title>
</head>

<body ng-app="im-praying" ng-controller="ImPrayingCtrl as impraying">
  <div layout="column" ng-cloak>
    <div layout="row">
      <md-content class="md-padding">
        <h1 ng-show="currentUser">{{currentUser.profile.name}}</h1>
        <md-button ng-click="impraying.login()" ng-show="!currentUser">Login</md-button>
        <md-button ng-click="impraying.logout()" ng-show="currentUser">Logout</md-button>
      </md-content>
    </div>

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Prayers" ui-sref="prayer-list"></md-tab>
      <md-tab label="Notifications" ui-sref="notification-list"></md-tab>
    </md-tabs>

    <div ui-view></div>
  </div>
</body>
